/* grid */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.full {
    width: 100%;
}

.half {
    width: 50%;
}

.thirtythree {
    width: 33.33%;
}

.quarter {
    width: 25%;
}

.twenty {
    width: 20%;
}

.align-right {
    text-align: right;
}

.right {
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    .full {
        width: 100%;
    }

    .half {
        width: 100%;
    }

    .thirtythree {
        width: 100%;
    }

    .quarter {
        width: 100%;
    }

    .twenty {
        width: 100%;
    }

    .align-right {
        text-align: right;
    }

    .right {
        justify-content: flex-end;
    }

    .form-container {

        min-width: 100%;
    }
}